@model Bangazon.Models.Order

@{
    ViewData["Title"] = "Details";
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.OrderProducts.First().Product.Title)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.OrderProducts.First().Product.Description)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.OrderProducts.First().Product.Price)
            </th>
            <th>
                @Html.DisplayNameFor(modelItem => modelItem.OrderProducts.First().Product.LocalDelivery)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderProducts)
        {


            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Title)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Description)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.Price)

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Product.LocalDelivery)

                </td>
                <td>
                    <a asp-action="Delete" asp-controller="OrderProducts" asp-route-id="@item.ProductId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
