@model IEnumerable<Bangazon.Models.ProductType>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Label)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Label)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ProductTypeId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ProductTypeId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ProductTypeId">Delete</a>
                </td>
            </tr>
            var products = item.Products.ToList();
            <tr>
                <td>
            <table class="table">
                <tbody>
                    @for (int i = 0; i < 3; i++)
                    {
                        if(products.Count > i)
                        {
                        <tr>
                            <a asp-controller="Products" asp-action="Details" asp-route-id="@products[i].ProductId">
                                @Html.DisplayFor(modelItem => products[i].Title)
                                <br />
                            </a>
                        </tr>
                        }
                    }

                </tbody>
            </table>
                </td>
            </tr>

        }
    </tbody>
</table>
